.sidebarRoot {
  @apply flex flex-col fixed top-0 left-0 bottom-0 shadow-xl z-10;
  @apply bg-white px-3 py-6 w-0  md:w-[110px];
  @apply -translate-x-6 md:translate-x-0 ;
  transition: all 1s ease-out;
}
.sidebarLogo{
  @apply flex justify-center items-center;
}
nav, .sidebarLogo{
  @apply -translate-x-20 md:translate-x-0 ;
}


.sidebarOpen{
  @apply w-[300px] translate-x-0;
  transition: all 1s ease-in;
}

.sidebarOpen nav, .sidebarOpen .sidebarLogo{
  @apply w-[300px] translate-x-0;
  transition: all 1s ease-in;
}

.btnSideBar{
  @apply w-6 h-14 rounded-sm absolute top-6 -right-6 flex bg-white md:hidden ;
  z-index:999;
  opacity: 1;
  
}




